<%- include("./partials/header") %>



<div class="container">
	

<h2 class="audu2">
	Hey, i am <strong>Edu</strong> your Assistant!
</h2>
	
<div class="text-center">
  <img src="https://st2.depositphotos.com/3126965/6508/v/450/depositphotos_65084215-stock-illustration-female-call-centre-operator.jpg" alt="Avatar" class="responsive rounded"> 
</div>
	 

	
<div class="card1 card text-center">
 
  <div class="card-body">
    <h5 class="card-title" style="color:white">Search for Your City!</h5>
	  
	 <form>
		 
	  
	  <div class="form-group">
    
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Pune</option>
      <option>Mumbai</option>
      <option>Hydrabad</option>
      <option>Solapur</option>
      <option>Nasik</option>
    </select>
  </div>
   
    <a href="#" class="btn btn-primary card-title">Search</a>
		 </form> 
  </div>
  
</div>
	
	
	
	

	
	
	
	
	

	
	
	
	
<div class="card2">
		<div class="card ">
  <h5 style="color:white;" class="card-header  card-col">Shop Id:234 | Location:Beed | <span class="badge badge-secondary">Open</span></h5>
  <div class="card-body">
	  <img src="http://i.stack.imgur.com/2OrtT.jpg" class="rounded cover float-left" />
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
	  <a href="#" class="btn btn-primary">Go somewhere</a>
	  <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
	
	</div>

	
	<div class="card2">
		<div class="card">
  <h5 style="color:white;" class="card-col card-header">Shop Id:234 | Location:Beed | <span class="badge badge-secondary">Open</span></h5>
  <div class="card-body">
	  <img src="https://d3nn873nee648n.cloudfront.net/900x600/18752/220-SM858573.jpg" class="rounded cover float-left" />
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
	  <a href="#" class="btn btn-primary">Go somewhere</a>
	  <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
	</div>
 
	
	<div id="achivement">
	<div class="square"></div>
	<div class="square"></div>
	<div class="square"></div>
	<div class="square"></div>
	<div class="square"></div>
	<div class="square"></div>
</div>
	
	
	
	

	
	
	
	
	
</div>

